In [1]:
import pandas as pd

In [2]:
#import danych z sieci obiektu df 
url ='http://51.91.120.89/extras/f500.csv'
df =  pd.read_csv(url) # wczytywanie danych z csv
df

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [7]:
#Å‚adowanie wybranych kolumn
#krok pierwszy to zapoznanie sie z nazwami
df.columns

Index(['company', 'rank', 'ceo', 'industry'], dtype='object')

In [9]:
#krok drugie to uzupeÅ‚nienie atrybutu usecols
url ='http://51.91.120.89/extras/f500.csv'
df =  pd.read_csv(url, usecols=['company', 'rank','ceo', 'industry']) # wczytywanie danych z csv
#poniÅ¼ej ta sama funkcja jednak zamiast nazw serii podano ich indeksy
#df =  pd.read_csv(url, usecols=['0,1,7,8]) # wczytywanie danych z csv gdzie jako wartoÅ›ci uÅ¼yto wartoÅ›ci indeksu

df

,company,rank,ceo,industry
0,Walmart,1,C. Douglas McMillon,General Merchandisers
1,State Grid,2,Kou Wei,Utilities
2,Sinopec Group,3,Wang Yupu,Petroleum Refining
3,China National Petroleum,4,Zhang Jianhua,Petroleum Refining
4,Toyota Motor,5,Akio Toyoda,Motor Vehicles and Parts
...,...,...,...,...
495,Teva Pharmaceutical Industries,496,Yitzhak Peterburg,Pharmaceuticals
496,New China Life Insurance,497,Wan Feng,"Insurance: Life, Health (stock)"
497,Wm. Morrison Supermarkets,498,David T. Potts,Food and Drug Stores
498,TUI,499,Friedrich Joussen,Travel Services
499,AutoNation,500,Michael J. Jackson,Specialty Retailers

In [10]:
#przydatne metody do prezentacji danych w data frame
df.head(15) # pobieranie pierwszych 15 rekordÃ³w
df.tail(15) # pobieranie ostatnich 15 rekordÃ³w
df.sample(n=10, random_state=0) #wyÅ›wietla 10 rekordÃ³w
df.sample(frac=.01,random_state=0) #wyÅ›wietla 1% rekordÃ³w

,company,rank,ceo,industry
90,Uniper,91,Klaus Schafer,Energy
254,Merck,255,Kenneth C. Frazier,Pharmaceuticals
283,Barclays,284,James E. Staley,Banks: Commercial and Savings
445,Danone,446,Emmanuel Faber,Food Consumer Products
461,Alibaba Group Holding,462,Daniel Zhang,Internet Services and Retailing

In [14]:
#PrzykÅ‚ad poniÅ¼ej - polega na skomplikowaniu zadania wczytania danych 
# i polega na wczytaniu kolumn ktÃ³rych nazwa zaczyna siÄ™ na okreslonÄ… podanÄ… literÄ™/literyS

url ='http://51.91.120.89/extras/f500.csv'

#dwa sposoby
#wariant 1
#df =  pd.read_csv(url, usecols=lambda x: x[0]=="c") 

#wariant 2
df =  pd.read_csv(url, usecols=lambda c: c.startswith(('c','p')))
df.head(5)

,company,profits,profit_change,ceo,previous_rank,country
0,Walmart,13643.0,-7.2,C. Douglas McMillon,1,USA
1,State Grid,9571.3,-6.2,Kou Wei,2,China
2,Sinopec Group,1257.9,-65.0,Wang Yupu,4,China
3,China National Petroleum,1867.5,-73.7,Zhang Jianhua,3,China
4,Toyota Motor,16899.3,-12.3,Akio Toyoda,8,Japan

In [16]:
#Å‚adowanie danych z pliku gdy nie ma  headera 
url = 'http://51.91.120.89/extras/f500nh.csv'

df =  pd.read_csv(url, header=None)
df.head(5)
#w wyniku otrzymujemy zamiast nazw numery kolumn

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [17]:
#wywoÅ‚anie nazw kolumn
df.columns # jest to tablica intÃ³w

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int64')

In [18]:
#wywoÅ‚anie pierwszej kolumny w tym wariancie
df[0]

0                             Walmart
1                          State Grid
2                       Sinopec Group
3            China National Petroleum
4                        Toyota Motor
                    ...
495    Teva Pharmaceutical Industries
496          New China Life Insurance
497         Wm. Morrison Supermarkets
498                               TUI
499                        AutoNation
Name: 0, Length: 500, dtype: object

#### przypisywanie nazw do serii

In [21]:
#jak przypisaÄ‡ nazwy kolumn do df
#krok pierwszy - przygotowujÄ™ tablice z nagÅ‚Ã³wkami
_names=['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity']
#krok drugi to przypisanie utworzonej listy do wÅ‚aÅ›ciwoÅ›ci names
df =  pd.read_csv(url, header=None, names=_names, comment="!", ) # wskazywanie komentarzy, pomijanie lini od gÃ³ry skiprows=10 skipfooter =10 -od doÅ‚u
df.head(5)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

#### Optymalizacja

Zagadnienie optymalizacji sprowadza siÄ™ do minimalizacji obciÄ…Å¼enia procesora oraz ramu danymi. W tym wzglÄ™dzie naleÅ¼y 
1. sprawdziÄ‡ czy nie jest zarezerwowane zbyt duÅ¼o pamiÄ™dzi wzglÄ™dem kaÅ¼dego z typÃ³w danych
JÄ™Å¼eli okaÅ¼e siÄ™ Å¼e jest zarezerowowane za duÅ¼o pamiÄ™ci dla przechowywanych danych np. do zapisu liczb 1-100 zamiast int8, przydzielono domyÅ›lnÄ… do typu liczbowego int32 - to trzeba to skorygowaÄ‡ wymuszajÄ…c typ danych
 

2.

In [85]:
#sprawdzenie typÃ³w obiektÃ³w przechowywanych w seriach tworzÄ…cych dataframe
df.dtypes # nie jest to zoptymalizowane

company                      object
rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [91]:
#wymuszanie typu dla wywoÅ‚ywanych kolumn #optymalizacja
#import danych z sieci obiektu df 
url ='http://51.91.120.89/extras/f500.csv'
df =  pd.read_csv(url, dtype={
    'rank': "uint16",
    'revenue_change' : 'float32'
}) # wczytywanie danych z csv
df.dtypes

company                      object
rank                         uint16
revenues                      int64
revenue_change              float32
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [92]:
df['rank'].min(), df['rank'].max()

(1, 500)

In [93]:
#co siÄ™ dzieje gdy przesadziliÅ›my z optymalizacjÄ… - nic - zostanie ona przeprowadzona ale zostanie 
#odciÄ™cie wartoÅ›ci powyÅ¼ej zakresu zmiennej
#wymuszanie typu dla wywoÅ‚ywanych kolumn #optymalizacja

#import danych z sieci obiektu df 
url ='http://51.91.120.89/extras/f500.csv'
df =  pd.read_csv(url, dtype={
    'rank': "uint8", #tutaj jest przesadzone z 'downsizingiem'
    'revenue_change' : 'float32'
}) # wczytywanie danych z csv
df.dtypes

company                      object
rank                          uint8
revenues                      int64
revenue_change              float32
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [94]:
#
df['rank'].min(), df['rank'].max()

(0, 255)

In [90]:
#konkluzja jest taka Å¼e trzeba sprawdzaÄ‡ wartoÅ›ci minimalne i maksymalne (scope wartoÅ›ci) danych wejÅ›ciowych.
#taka oepracja jest moÅ¼liwa dla caÅ‚ego zbioru danych przy uÅ¼yciu describe
#ciekawe Å¼e sÄ… tu podane kwantyle zbiorÃ³w danych
# count pokazuje ile danych ma wypisane wartoÅ›ci (np. rank jest wszystko wypeÅ‚nione a w profit_change - ma missing value NaN)
df.describe()

,rank,revenues,revenue_change,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity
count,500.000000,500.000000,498.000000,499.000000,5.000000e+02,436.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,125.060000,55416.358000,4.538357,3055.203206,2.436323e+05,24.152752,222.134000,15.036000,1.339983e+05,30628.076000
std,72.346142,45725.478963,28.549070,5171.981071,4.851937e+05,437.509566,146.941961,7.932752,1.700878e+05,43642.576833
min,0.000000,21609.000000,-67.300003,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,3.280000e+02,-59909.000000
25%,62.750000,29003.000000,-5.900000,556.950000,3.658850e+04,-22.775000,92.750000,7.000000,4.293250e+04,7553.750000
50%,125.000000,40236.000000,0.550000,1761.600000,7.326150e+04,-0.350000,219.500000,17.000000,9.291050e+04,15809.500000
75%,187.250000,63926.750000,6.975000,3954.000000,1.805640e+05,17.700000,347.250000,23.000000,1.689172e+05,37828.500000
max,255.000000,485873.000000,442.299988,45687.000000,3.473238e+06,8909.500000,500.000000,23.000000,2.300000e+06,301893.000000

In [140]:
#podczas importu danych jest moÅ¼liwa implementacja konwerterÃ³w (funkcji ktÃ³re przetworzÄ… dane wejciowe)

#konwersja w momencie tworzenia
#krok 1 - definiuje funkcje do konwersji ktÃ³re bÄ™dÄ™ wywoÅ‚ywaÅ‚
#krok
url ='http://51.91.120.89/extras/f500.csv'
df =  pd.read_csv(url, converters={
    #podaje nazwe kolumny na ktÃ³rej ma dziaÅ‚aÄ‡ funkcja do konwersji
    "rank": lambda x: int(x)<=10
}) 
df.head(5)
# to jest metoda ktÃ³rÄ… warto robiÄ‡ przy gdy mamy maÅ‚e repozytorium.
#gdy sa duÅ¼e repozytoria to lepiej wczytaÄ‡ dane do pamiÄ™ci i zajÄ…Ä‡ siÄ™ konwersjÄ… przy uÅ¼yciu apply.
# jest tak dlatego Å¼e pandas przetwarza wszystko w pamiÄ™ci. To dziÄ™ki temu pandas jest taki szybki. 
#Gdy pandas ma za duÅ¼o danych to trzeba swipowaÄ‡ dane na dysk twardy (przerzucaÄ‡ dane)
# wtedy trzeba zwrÃ³ciÄ‡ uwagÄ™ Å¼e spada wydajnoÅ›Ä‡ w wyniku takiej operacji
#
#
#
#biblioteki ktÃ³re radzÄ… sobie z duÅ¼ym zbiorem danych to moÅ¼emy uÅ¼yÄ‡ daska lub sparka

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,True,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,True,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,True,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,True,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,True,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [129]:
#ustawianie wÅ‚asnego indeksu na podstawie danych z kolumny df na przykÅ‚adzie wybranej kolumny 
#moÅ¼na to zrobiÄ‡ w momencie przekazywania danych do df
url ='http://51.91.120.89/extras/f500.csv'
df =  pd.read_csv(url,index_col='company') 
df.head(10)
# trzeba zwrÃ³ciÄ‡ uwagÄ™ Å¼e to nie jest juÅ¼ kolumna tylko index

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325

In [131]:
#resetowanie indeksu
#df.reset_index() #zwraca kopie df z wyzerowanym indeksem, Å¼eby zastÄ…piÄ‡ oryginaÅ‚ kopiÄ… trzeba uÅ¼yÄ‡ inplace=true jako parametr
df.reset_index(inplace=True)
df

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [132]:
#ustanowienie indeksu po zaÅ‚adowaniu data frame'a
df.set_index('company', inplace=True)
df

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

### Å‚adowanie danych z excela

In [158]:
#pobieranie danych z pierwszej zakÅ‚adki
url1='http://51.91.120.89/extras/films.xlsx'
df = pd.read_excel(url1, sheet_name=1)
df.describe()

           Entry  Year of cinema release  No of Oscars won
count  25.000000               25.000000          5.000000
mean   12.880000             1973.080000          2.000000
std     7.224495               20.022737          1.732051
min     1.000000             1939.000000          1.000000
25%     7.000000             1958.000000          1.000000
50%    13.000000             1973.000000          1.000000
75%    19.000000             1990.000000          2.000000
max    25.000000             2009.000000          5.000000

In [159]:
#pobranie wszystkich wartoÅ›ci z excela tworzy sÅ‚ownik a odwoÅ‚anie do wartosci w konkretnym sÅ‚oniku jest po kluczu
url1='http://51.91.120.89/extras/films.xlsx'
df_dict = pd.read_excel(url1, sheet_name=None)
df_dict.keys()

dict_keys(['ROMANCE', 'CRIME', 'COMEDY', 'ACTION', 'ARTHOUSE AND DRAMA', 'SCI-FI AND FANTASY', 'HORROR'])

In [1]:

df_dict.get('ACTION')

NameError: name 'df_dict' is not defined